# just my like
tasks:
  - id: remove-snap
    check: '[ "{{.vars.profile}}" != "desktop" ] || ! command -v snap'
    run: |
      echo "Starting Snap Removal..."
      if command -v snap &> /dev/null; then
          echo "Removing installed snaps (This may take a while)..."
          
          for i in {1..3}; do
              LANG=C snap list | awk 'NR>1 {print $1}' | while read -r snapname; do
                  sudo snap remove --purge "$snapname" 2>/dev/null || true
              done
          done
      fi

      echo "All user snaps removed. Stopping services..."

      sudo systemctl stop snapd.socket || true
      sudo systemctl stop snapd.service || true
      sudo systemctl disable snapd.socket || true
      sudo systemctl disable snapd.service || true
      
      echo "Purging snapd via APT..."
      sudo apt-get autoremove --purge -y snapd gnome-software-plugin-snap
      
      rm -rf {{.vars.home}}/snap
      sudo rm -rf /var/cache/snapd
      sudo rm -rf /var/lib/snapd
      
      echo "Snap Removed Successfully." 
  
  - id: block-snap
    deps: [remove-snap]
    check: '[ "{{.vars.profile}}" != "desktop" ] || [ -f /etc/apt/preferences.d/nosnap.pref ] || ! command -v apt-get'
    run: |
      echo "Blocking Snap re-installation..."
      cat <<EOF | sudo tee /etc/apt/preferences.d/nosnap.pref
      Package: snapd
      Pin: release a=*
      Pin-Priority: -1
      EOF
      echo "Snap is now blocked via APT pinning."